.place__link {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  color: #fff;
  transition: opacity linear .2s;
}

.place__link:hover {
  opacity: .8;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place__link {
    padding: 0 16px;
  }
}