.place {
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(min-content, 484px);
  gap: 48px 40px;
  margin: 0 0 80px;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(min-content, 456px);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    gap: 48px 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .place {
    grid-template-columns: minmax(min-content, 425px);
    gap: 48px 28px;
  }
}